.homepageParent {
  background-color: var(--backgroundColor);
  display: grid;
  place-items: center;
  border: 2px solid red;
  max-height: 100vh;
  width: 100%;
  overflow-y: none;
  overflow-x: none;
  position: relative;
  .quizHeader {
    // background-color: var(--white);
    height: 8vh;
    width: 80%;
    display: grid;
    place-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bolder;
    position: fixed;
    top: 0;
  }

  .quizComponentDiv {
    margin-top: 8vh;
    background-color: #554348;
    border: 2px solid blue;
    width: 80%;
    max-height: 92vh;
    overflow: scroll;

    .footerParentDiv {
      display: grid;
      place-items: center;
      .quizFooter {
      
        margin: 30px 0;
        width: 80%;
        display: grid;
        place-items: center;

        .myButton {
          background-color: var(--blue);
          border-radius: 7px;
          border: 1px solid var(--blue);
          display: inline-block;
          cursor: pointer;
          color: var(--white);
          font-size: 16px;
          padding: 11px 76px;
          text-decoration: none;
          text-shadow: 0px 1px 0px var(--blue);
          width: 80%;
          font-weight: bolder;
          text-align: center;
        }
        // .myButton:hover {
        //   background-color: #5cbf2a;
        //   border: 1px solid #5cbf2a;
        // }
        .myButton:active {
          // border: 2px solid red;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
